<html>
    <head>
        <title>About page</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <div class="cf"></div>
        <div class="cf"></div>
        <div class="cf"></div>
        <img src="/img/mediolanum.png" alt="My icon">
        {{>footer}}
    </body>
</html>