<html>
    <head>
        <title>Help page</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <div class="cf"></div>
        <div class="cf"></div>
        <div class="cf"></div>
        {{>footer}}
    </body>
</html>